* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.story {
    font-size: 2rem;
}

.nav-link {
    transition: 0.3s ease;
    color: black;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link:hover {
    color: hotpink
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: palevioletred
}

@media(max-width:768px) {
    .hamburger {
        display: block;
        left: 450px;
        position: relative;
        bottom: 560px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: inherit;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
        width: 100%;
        text-align: center;
        transition: 0.3s;


    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
        top: 30px;
    }
}

.dot {
    color: hotpink;
    font-family: MV Boli;
}


.article-wrap {
    width: 100%;
    height: 500px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    overflow: hidden;

}

.overlay {
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0.3;
}

.article-wrap .col-md-9 {
    margin-top: 200px;
    color: rgb(255, 255, 255)
}




.article-wrap ::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: -0;
    background: #00000080;
}

.article-wrap p {
    color: white;
    text-align: center;
}

.items span {
    color: rgb(255, 255, 255);
}
.article-wrap h1{
    font-family: "Playfair Display", serif;
}

.about img{
    width: 100%;
    margin-top: 60px;



}
.image2{
  position: relative;
  bottom: 120px;
}
.about2 img{
  width: 100%;

}
.about2{
  top: 30px;
}
.heading h2{
    font-size: 30px;
    font-weight: 900;
    font-family: "Playfair Display", serif;
}
.heading2{
  position: relative;
  bottom: 120px;
}

.about p{
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    font-size: 18px;
}
.about2 p{
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
  font-size: 18px;
}


.advertisment{
    position: relative;
       z-index: 1; 
    background-repeat: no-repeat;
       background-size: cover;
       width: 100%;
       height: 350px;
       bottom: 100px;
       background-attachment: fixed;
       overflow: hidden;
       margin-top: 140px;
   }
   .advertisment p{
       color: white;
       text-align: center;
   }
   
   
   .advertisment ::after{
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       content: '';
       z-index: -1;
       opacity: 0.3;
       background: #00000080;
   }
   
   
   .advertisment img {
       width: 100%;
       height: 100%;
       object-fit: cover; 
   }
   .advertisment .row{
       flex-wrap: wrap;
       margin-right: -15px;
       margin-left: -15px;
   }
   
   
   .col-md{
       position: relative;
       width: 100%;
       padding-right: 15px;
       padding-left: 15px;
       justify-content: center !important;
   }
   
   .advertisment .container h1{
   color: hotpink;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 95px;
   font-family: 'Lugrasimo', cursive;
   }

   .form-group{
    position: relative;
    margin-bottom: 0;
    justify-content: center;
  }
.form-group input{
    height: 64px !important;
    border: 1px solid transparent;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
    padding: 0 20px;

}
.submitt{
    background-color: #000000;
    color: white;
}
.form-group input:nth-child(1){
    width: 88%;
}
.submitt{
    background-color: #000000;
    color: white;
}
footer{
    font-size: 16px;
    background: #1f1f1f;
    padding: 7em 0;
    z-index: 0;
    color: white;
    margin-top: 200px;
  }
  footer .social{
    margin-top: 3rem !important;
    float: left !important;
    margin-left: -33px;
  }
  .social li{
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
  }
  .social a{
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
  }
  .social a:hover{
    color: #ff6e7f;
  }
  .social span{
    position: absolute;
    font-size: 26px;
    top: 19%;
    left: 30%;
  }
  .information a:hover{
color:white;
  }

  .categories li{
    text-decoration: none;
  }
  .list a:hover{
    color: pink;
  }
  .term li{
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .term{
    margin-top: 40px;
  }

  .wrapper {
    /* position: absolute;
    width: 80vw; */
    position: sticky;
    width: 85vw;
    transform:  translate(-50%, -50%);
    top:50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-left: 300px;
    margin-top: 100px;
  }
  
  .wrapper .container {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 18px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #ff6e7f;;
  }
  
 .wrapper i{
    color: #ff6e7f;
    font-size: 2.5em;
    text-align: center;
  
  }
  
  .wrapper span.num {
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  
  .wrapper span.text {
    color: #e0e0e0;
    font-size: 1.1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }
  
  @media screen and (max-width:1024px) {
    .wrapper {
      width: 85vw;
      margin-left: 225px;
      margin-top: 100px;
    }
     .wrapper .container {
      height: 42vmin !important;
      width: 36vmin;
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .wrapper{
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
     
    }
  
    .wrapper .container {
      width: calc(50% -40px);
      height: 30vmin;
      font-size: 13px;
    }
  }
  /* @media screen and (max-width: 480px) {
    .wrapper{
      gap: 15px;
    }
  
     .wrapper .container {
      width: 100%;
      height: 25vmin;
      font-size: 8px;
    }
  } */

.about .part1{
    margin-top: 200px;
}
.part1 .container{
margin-top: 60px;
}
.part2 .container{
    margin-top: 60px;
}
.about .part2{
    margin-top: 200px;
}


body {
    overflow-x: hidden;
  }
.col-md-6{
  height: 76%;
}


#slider {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}
#slider input[type=radio] {
  display: none;
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;

  background: #fff;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 300px;
}
#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: hotpink;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
     margin: 0;
  }
  #slides {
     max-width: calc(100% - 140px);
     margin: 0 auto;
  }
}

.slide-content img{
width: 100%;
}

.slider h1{
  align-items: center;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  color: #ff6e7f;

}

.slidertext h1{
margin-top: 100px;
color: #ff6e7f;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slidertext h5{
  color:thistle;
}




  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
   
  }
  
  .header li a {
    display: block;
    margin-top: -25px;
    text-align: center;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  
        
    
  }
  .logo:hover{
    color: black;
  }
  .header .dot{
    color: hotpink;
    font-family: MV Boli;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }

    .header .menu {
      clear: none;
      float: right;
      max-height: none;
  
    }
    .header .menu-icon {
      display: none;
    }
  }

  .header .menu{
    margin-top: 20px;
  }
  
  .header a:hover{
    color: black;

  }
  .header a{
    
    color: black;
  }
  .header a:hover{
    color: black;

  }
  .header a{
    
    color: black;
  }

  .header .menu a:hover{
    color: hotpink;
}




