* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.story {
    font-size: 2rem;
}

.nav-link {
    transition: 0.3s ease;
    color: black;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link:hover {
    color: hotpink
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: palevioletred
}

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
        width: 100%;
        text-align: center;
        transition: 0.3s;


    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

.dot {
    color: hotpink;
    font-family: MV Boli;
}


.article-wrap {
    width: 100%;
    height: 500px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    overflow: hidden;

}

.overlay {
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0.3;
}

.article-wrap .col-md-9 {
    margin-top: 200px;
    color: rgb(255, 255, 255)
}




.article-wrap ::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: -0;
    background: #00000080;
}

.article-wrap p {
    color: white;
    text-align: center;
}

.items span {
    color: rgb(255, 255, 255);
}
.article-wrap h1{
    font-family: "Playfair Display", serif;
}

.about img{
    width: 100%;
    margin-top: 60px;
}
.heading h2{
    font-size: 30px;
    font-weight: 900;
    font-family: "Playfair Display", serif;
}
.about p{
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    font-size: 18px;
}


.advertisment{
    position: relative;
       z-index: 1; 
    background-repeat: no-repeat;
       background-size: cover;
       width: 100%;
       height: 350px;
       top: 100px;
       background-attachment: fixed;
       margin-top: 20px;
       overflow: hidden;
   }
   .advertisment p{
       color: white;
       text-align: center;
   }
   
   
   .advertisment ::after{
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       content: '';
       z-index: -1;
       opacity: 0.3;
       background: #00000080;
   }
   
   
   .advertisment img {
       width: 100%;
       height: 100%;
       object-fit: cover; 
   }
   .advertisment .row{
       flex-wrap: wrap;
       margin-right: -15px;
       margin-left: -15px;
   }
   
   
   .col-md{
       position: relative;
       width: 100%;
       padding-right: 15px;
       padding-left: 15px;
       justify-content: center !important;
   }
   
   .advertisment .container h1{
   color: hotpink;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 95px;
   font-family: 'Lugrasimo', cursive;
   }

   .form-group{
    position: relative;
    margin-bottom: 0;
    justify-content: center;
  }
.form-group input{
    height: 64px !important;
    border: 1px solid transparent;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
    padding: 0 20px;

}
.submitt{
    background-color: #000000;
    color: white;
}
.form-group input:nth-child(1){
    width: 60%;
}
.submitt{
    background-color: #000000;
    color: white;
}
footer{
    font-size: 16px;
    background: #1f1f1f;
    padding: 7em 0;
    z-index: 0;
    color: white;
    margin-top: 200px;
  }
  footer .social{
    margin-top: 3rem !important;
    float: left !important;
    margin-left: -33px;
  }
  .social li{
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
  }
  .social a{
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
  }
  .social a:hover{
    color: #ff6e7f;
  }
  .social span{
    position: absolute;
    font-size: 26px;
    top: 19%;
    left: 30%;
  }
  .information a:hover{
color:white;
  }

  .categories li{
    text-decoration: none;
  }
  .list a:hover{
    color: pink;
  }
  .term li{
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .term{
    margin-top: 40px;
  }