* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}


a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}
.nav-item a{
    color: black;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 160px;

}

.story {
    font-size: 2rem;
}

.nav-link {
    transition: 0.3s ease;
    font-weight: 500;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link:hover {
    color: hotpink
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: palevioletred
}

@media(max-width:768px) {
    .hamburger {
        display: block;
        left: 450px;
        position: relative;
        bottom: 560px;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: inherit;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
        width: 100%;
        text-align: center;
        transition: 0.3s;


    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
        top: 30px;
    }
}

.dot {
    color: hotpink;
    font-family: MV Boli;
}

.article-wrap {
    width: 100%;
    height: 500px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    overflow: hidden;

}

.overlay {
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0.3;
}

.article-wrap .col-md-9 {
    margin-top: 200px;
    color: rgb(255, 255, 255)
}




.article-wrap ::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: -0;
    background: #00000080;
}

.article-wrap p {
    color: white;
    text-align: center;
}
.article-wrap a{
    text-decoration: none;
    color: white;
}

.items span {
    color: rgb(255, 255, 255);
}
.article-wrap h1{
    font-family: "Playfair Display", serif;
}


#orderTotal{
	margin-right: 16px;
	text-align: right;
}
#itemCounter{
	position: absolute;
	right: 105px;
	top: 0px;
}
#basketImage{
	position: absolute;
	top: 16px;
	right: 56px;
}


.shop .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    max-width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.product img {
    width: 100%;
}

.cart {
    margin-top: 40px;
}

.cart h2 {
    margin-top: 0;
}

.cart-items li {
    list-style: none;
}

.checkout {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}



  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
   
  }
  
  .header li a {
    display: block;
    margin-top: -25px;
    text-align: center;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  
        
    
  }
  .logo:hover{
    color: black;
  }
  .header .dot{
    color: hotpink;
    font-family: MV Boli;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }

    .header .menu {
      clear: none;
      float: right;
      max-height: none;
  
    }
    .header .menu-icon {
      display: none;
    }
  }

  .header .menu{
    margin-top: 20px;
  }
  .header a:hover{
    color: black;

  }
  .header a{
    
    color: black;
  }