
#wrapper-register {
    margin-top: 2%;
    background-size: cover;
   
}
.page_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 406px;
    text-align: center;
    position: relative;
    bottom: 500px;
    left: 450px;


}

    .page_text h1 {
        text-transform: uppercase;
        color: #3e3d3d;
        font-weight: 600;
        font-size: 1.375rem;
        font-family: auto;
        color:white
    }
#wrapper-register ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px !important;
    gap: 4px;
}

#wrapper-register li {
    font-size: 14px;
    margin: 4px;
    margin: 0 !important;
}


    #wrapper-register li span {
        color: white;
    }

#wrapper-register a {
    text-decoration: none;
    color: #9faaa7;
}
#wrapper-register i {
    position: relative;
    font-size: 11px;
    bottom: 1px;
}
#register {
    padding-top: 71px;
    position: relative;
    bottom: 250px;
}
.form-register-wrap {
    padding: 50px;
    background: #f6f6f6;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.input-text,
.password {
    display: block;
    width: 836px;
    padding: 12px;
    background-color: #fff;
    color: #4b5955;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #ccc;
    font-weight: 400;
    border-radius: 0;
    outline: 0;
}
.required {
    margin-left: 5px;
    color: #e2401c;
}

h2 {
    font-family: Marcellus;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
}

button {
    border: none;
    border-radius: 0;
    background: 0 0;
    background-color: #de9076;
    border-color: #de9076;
    color: #fff;
    cursor: pointer;
    padding: 12px;
    text-decoration: none;
    text-shadow: none;
    width: 208px;
    margin-top: 22px;
    margin-bottom: 32px;
}

label {
    color: #000;
    display: block;
    margin-bottom: 5px;
}
.area-password {
    position: relative;
}
    .area-password i {
        position: absolute;
        bottom: 16px;
        right: 23px;
        color: #de9076;
    }
hr {
    color: #b4afaf;
}
.cart-modal-overlay{
    display:none
}
.nav-item:nth-child(8){
    display:none
}
.form-register{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:768px) {

    .page_text{
        margin-top: 200px;
        left: 30px;
    }
    .form-register{
        margin-left: 427px;
    }
}

body {
    overflow-x: hidden;
  }